@font-face {
  font-family: 'teachers_studentregular';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/teachers_student/teachersstudent_regular.ttf") format("truetype");
  src: url("./fonts/teachers_student/teachersstudent_regular.otf") format("opentype");
  src: url("./fonts/teachers_student/teachersstudent_regular-webfont.eot");
  src: url("./fonts/teachers_student/teachersstudent_regular-webfont.svg");
  src: url("./fonts/teachers_student/teachersstudent_regular-webfont.woff");
  src: url("./fonts/teachers_student/teachersstudent_regular-webfont.woff2");
}

@font-face {
  font-family: "Quicksand_Regular";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/quicksand/Quicksand-Regular.otf") format("opentype");
  src: url("./fonts/quicksand/quicksand-regular-webfont.eot");
  src: url("./fonts/quicksand/quicksand-regular-webfont.svg");
  src: url("./fonts/quicksand/quicksand-regular-webfont.ttf") format("truetype");
  src: url("./fonts/quicksand/quicksand-regular-webfont.woff") format("woff");
  src: url("./fonts/quicksand/quicksand-regular-webfont.woff2");
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 110px;
}

img {
  height: 100%;
  width: 100%;
}

.btn-primary {
  font-family: "teachers_studentregular";
  padding: 0.1rem;
  background-color: #fa5830;
  border: none;
}

.btn-primary:hover {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  background-color: #fa5830;
}

.btn-secondary {
  font-family: "teachers_studentregular";
  padding: 0.1rem;
  background-color: #9cbdf3;
  border: none;
}

.btn-secondary:hover {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  background-color: #9cbdf3;
}

.btn-link,
.btn-link:focus,
.btn-link:active,
.btn-link:hover {
  font-family: "Quicksand_Regular";
  color: black;
  text-decoration: none;
  border: 0;
  padding: 0;
  text-align: left;
}

.card {
  border: none;
}

.card-header {
  background-color: #fff;
}

a {
  cursor: pointer;
}

nav.navbar {
  background-color: #9cbdf3;
}

.navbar-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.navbar-brand {
  font-family: "teachers_studentregular";
  color: #fff;
  font-size: 2.4rem;
}

.navbar-brand .navbar-brand-secondary {
  font-size: 1.4rem;
}

.navbar-brand:hover {
  text-shadow: 3px 3px 3px #a0a0a0;
  color: #fff;
}

.toggler-icon-open {
  height: 35px;
  width: 35px;
  margin-left: -8px;
}

.toggler-icon-closed {
  height: 40px;
  width: 40px;
  display: none;
  margin-left: -8px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav-item {
  height: 50px;
  font-family: "Quicksand_Regular";
  color: #fff;
}

.nav-item:hover {
  text-shadow: 3px 3px 3px #a0a0a0;
  color: #fff;
}

.hero-section {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.hero-section-card .hero-title {
  font-family: "teachers_studentregular";
  font-size: 2rem;
  color: #9cbdf3;
  margin: 0;
}

.hero-section-card .hero-body {
  overflow: hidden;
}

.hero-section-card .hero-img-card {
  margin-bottom: 0.5rem;
}

.hero-section-card .hero-img-card img {
  border-radius: 10px;
}

.hero-text {
  font-size: 0.95rem;
  text-align: left;
  font-family: "Quicksand_Regular";
}

.hero-text span {
  color: #fa5830;
  font-weight: bold;
}

.hero-text a {
  color: #fa5830;
}

.hero-text a:hover {
  color: #9cbdf3;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.hero-btn {
  font-size: 1.5rem;
  width: 85%;
}

.review-carousel {
  margin: 2rem 0 2rem 0;
  height: 24vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid #fa5830;
  border-bottom: 1px solid #fa5830;
}

.carousel-inner {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.carousel-item p {
  font-family: "Quicksand_Regular";
  font-size: 0.8rem;
  color: #464646;
  text-align: center;
  margin: 0;
}

.carousel-icon {
  background-color: #fa5830;
}

.targets-section {
  margin: 0 auto;
}

.target-section-cards {
  width: 80%;
  margin: -0.5rem auto 0 auto;
}

.target-section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.target-section-card .target-img {
  height: 80px;
  width: 80px;
}

.target-section-card .card-text {
  text-align: center;
}

.target-section-card .card-text .target-title {
  font-family: "teachers_studentregular";
  color: #9cbdf3;
  font-size: 1.8rem;
  padding: 0.8rem 0 0 0;
  margin: 0;
  text-decoration: none;
}

.target-section-card .card-text .target-text,
.target-section-card .card-text .target-text-list {
  font-size: 0.95rem;
  font-family: "Quicksand_Regular";
}

.target-section-card .card-text .target-text a {
  color: #fa5830;
}

.target-section-card .card-text .target-text a:hover {
  color: #9cbdf3;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.target-section-card .card-text .target-text-list {
  margin: 0;
  padding: 0 0 1rem 0;
  list-style-type: none;
}

.target-section-card .card-text .target-text-list a {
  color: #fa5830;
}

.target-section-card .card-text .target-text-list a:hover {
  color: #9cbdf3;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.targets-btn {
  width: 85%;
  margin: 0 auto;
}

.target-btn {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.5rem;
}

#btn2 {
  margin-top: 0.5rem;
}

.image-gallery-section {
  width: 85%;
  margin: 2rem auto 0 auto;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-wrapper:last-child {
  display: none;
}

.image-wrapper img {
  border-radius: 10px;
  margin-top: 0.4rem;
}

.socials-section {
  margin-top: 2rem;
  background-color: #9cbdf3;
}

.socials-banner {
  margin: 0 auto;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: #fff;
}

.socials-banner .socials-icon {
  height: 40px;
  width: 40px;
}

.socials-banner .socials-title {
  font-family: "teachers_studentregular";
  font-size: 1.4rem;
}

footer {
  width: 85%;
  margin: 2rem auto 0 auto;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

.footer-wrapper .footer-description,
.footer-wrapper .footer-contact {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #fa5830;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  color: #464646;
  font-family: "Quicksand_Regular";
}

.footer-wrapper .footer-contact,
.footer-wrapper .footer-copy {
  padding-top: 1rem;
}

.footer-wrapper .footer-copy,
.footer-wrapper .footer-copy span {
  font-size: 1.3rem;
  font-family: "teachers_studentregular";
  color: #9cbdf3;
}

.footer-wrapper .footer-web {
  font-family: "Quicksand_Regular";
  font-size: 0.7rem;
  color: #464646;
}

.footer-wrapper .footer-web a {
  color: #9cbdf3;
}

.footer-wrapper .footer-web a:hover {
  color: #fa5830;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.accordion-section {
  margin-top: 2.5rem;
}

.accordion-header {
  border-top: 1px solid #fa5830;
}

.btn-link p {
  font-size: 0.95rem;
}

.accordion-body {
  font-family: "Quicksand_Regular";
  color: #464646;
  font-size: 0.95rem;
}

.accordion-body a {
  color: #fa5830;
}

.accordion-body a:hover {
  color: #9cbdf3;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.accordion > .card:last-child {
  border-bottom: 1px solid #fa5830;
}

@media (min-width: 768px) {
  .navbar-wrapper {
    height: 100px;
  }
  .navbar-brand {
    font-size: 3.2rem;
  }
  .navbar-brand .navbar-brand-secondary {
    font-size: 2rem;
    padding-left: 0.5rem;
  }
  .toggler-icon-open {
    height: 50px;
    width: 50px;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .toggler-icon-closed {
    width: 55px;
    height: 55px;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  .nav-item {
    font-size: 1.2rem;
    height: 70px;
  }
  .hero-section-card .hero-title {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
  }
  .hero-section-card .hero-img-card {
    height: 60vh;
    margin-top: 1.5rem;
  }
  .hero-section-card .hero-img-card img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-text {
    font-size: 1rem;
  }
  .hero-card-single {
    margin: 1.5rem auto 0 auto;
    width: 90%;
  }
  .hero-btn {
    font-size: 2rem;
    width: 60%;
    margin-top: 1.5rem;
  }
  .review-carousel {
    margin: 3rem 0 0 0;
    height: 30vh;
  }
  .carousel-item p {
    font-size: 0.9rem;
  }
  .carousel-icon {
    height: 30px;
    width: 30px;
  }
  .target-section-cards {
    width: 60%;
    margin-top: 1.2rem;
  }
  .target-section-card {
    padding-top: 1.8rem;
  }
  .target-section-card .target-img {
    height: 110px;
    width: 110px;
  }
  .target-section-card .card-text .target-title {
    font-size: 2rem;
  }
  .target-section-card .card-text .target-text,
  .target-section-card .card-text .target-text-list {
    font-size: 1rem;
  }
  .targets-btn {
    width: 60%;
  }
  .target-btn {
    font-size: 2rem;
  }
  .image-gallery-section {
    width: 95%;
    margin: 3rem auto 0 auto;
  }
  .image-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .image-wrapper {
    margin: 0 0.2rem;
  }
  .image-wrapper:last-child {
    display: block;
  }
  .image-wrapper img {
    margin-top: 0;
  }
  .socials-section {
    margin-top: 3rem;
  }
  .socials-banner {
    width: 90%;
    height: 13vh;
  }
  .socials-banner .socials-icon {
    height: 45px;
    width: 45px;
  }
  .socials-banner .socials-title {
    font-size: 2rem;
  }
  footer {
    width: 95%;
  }
  .footer-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer-wrapper .footer-description,
  .footer-wrapper .footer-contact {
    width: 90%;
    font-size: 0.9rem;
    padding-top: 0;
  }
  .footer-wrapper .footer-copy {
    font-size: 1.4rem;
    padding-top: 0.5rem;
  }
  .footer-wrapper .footer-web {
    padding-top: 0.6rem;
    font-size: 0.8rem;
  }
  .accordion-section {
    width: 70%;
    margin: 3rem auto 0 auto;
  }
  .btn-link p {
    font-size: 1rem;
  }
  .accordion-body {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .navbar-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-item {
    font-size: 1rem;
    text-align: center;
    height: 50px;
  }
  .hero-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column-gap: 30px;
    margin-top: 1.5rem;
  }
  .hero-section-card .hero-img-card {
    padding: 0;
    margin: 0;
    height: auto;
  }
  .hero-btn {
    width: 100%;
    margin-top: 0;
  }
  .review-carousel {
    margin: 5rem 0 5rem 0;
  }
  .carousel-item p {
    font-size: 0.95rem;
  }
  .carousel-icon {
    height: 35px;
    width: 35px;
  }
  .target-section-cards {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 0;
  }
  .targets-btn {
    width: 50%;
  }
  .target-btn {
    margin-top: 2rem;
  }
  .image-gallery-section {
    margin: 5rem auto 0 auto;
  }
  .socials-section {
    margin-top: 5rem;
  }
  .socials-banner {
    width: 95%;
    height: 15vh;
  }
  .socials-banner .socials-icon {
    height: 50px;
    width: 50px;
  }
  .accordion-section {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .nav-item {
    font-size: 1.1rem;
  }
  .hero-section {
    width: 95%;
  }
  .hero-cards,
  .hero-card-single {
    margin-top: 3rem;
  }
  .hero-section-card .hero-title {
    font-size: 2.9rem;
  }
  .hero-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .hero-card-single {
    width: 85%;
  }
  .review-carousel {
    margin: 6rem 0;
  }
  .carousel-inner {
    width: 60%;
  }
  .carousel-item p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
  .carousel-icon {
    height: 40px;
    width: 40px;
  }
  .target-section-cards {
    width: 95%;
    grid-column-gap: 30px;
  }
  .target-section-card .card-text {
    width: 75%;
  }
  .target-section-card .card-text .target-title {
    font-size: 2.4rem;
  }
  .target-section-card .card-text .target-text,
  .target-section-card .card-text .target-text-list {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .targets-btn {
    width: 35%;
  }
  .image-gallery-section {
    margin-top: 7rem;
  }
  .socials-section {
    margin-top: 7rem;
  }
  .socials-banner {
    width: 80%;
  }
  .socials-banner .socials-icon {
    height: 55px;
    width: 55px;
  }
  .socials-banner .socials-title {
    font-size: 2.3rem;
  }
  footer {
    width: 95%;
    margin-top: 3rem;
  }
  .footer-wrapper .footer-description,
  .footer-wrapper .footer-contact {
    font-size: 1rem;
    padding-bottom: 2rem;
    line-height: 1.7rem;
  }
  .footer-wrapper .footer-copy {
    padding-top: 2rem;
    font-size: 1.6rem;
  }
  .footer-wrapper .footer-web {
    font-size: 0.9rem;
    padding-top: 2.3rem;
  }
  .btn-link p,
  .accordion-body {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=styles.css.map */